*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

html, body{
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
    height: 80%;
}
.centro {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 23rem;
}

p{

    margin-top: 2rem;
    margin-bottom: 1rem;

    font-size: 1.5rem;

    color:gainsboro;


}

.quadro {
    background-color:gainsboro;
    border: 0.1rem solid black;
    border-radius: 2.5rem;
    width: 35rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1{
    font-size: 400%;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
    margin-top: 5%;
}
input {
    border-radius: 5rem;
    height: 4rem;
    width: 22rem;
    display: flex;
    margin-top: 1.5rem;
    padding-inline: 1rem;
    padding-block: 1rem;
    border: 0.1rem solid black;

}

button {
    border-radius: 5rem;
    height: 4rem;
    width: 15rem;
    color: aliceblue;
    background-color:rgba(0, 255, 0, 0.599);
    margin-top: 2rem;
    font-size: 1.5rem;
    border: 0.1rem solid black;
}
